<div class="container">
  <div class="page-header text-center">
    <a href="/"> <h1><%= title %> <small> Can you defeat me? </small> </h1> </a>
  </div>
  <div class="text-center">
  <h3> Hello <%= session.name %> ! Let's play Hangman try to guess the word i have chosen </h3>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <h3> You have </h3>
      <p id="livesLeft" class="lives text-center"> <%= session.numberOfLives %></p>
      <h3> lives left </h3>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <% letters.forEach(function(letter){ %>
          <div class="col-xs-2">
          <button type="button" onclick="checkLetter(this.id,'<%=wordsArr%>',<%=session.numberOfLives%>)" class="btn btn-primary btn-lg" id="<%=letter%>" > <%= letter %> </button>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="letters text-center">
      <% for(var i=0; i < session.wordLength; i++ ){ %>
        <p id="secret<%=i%>" > _ </p>
      <% } %>
    </div>
    </div>
  </div>


</div>
